@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans";
}
.nav_item {
  padding-top: 18px;
  padding-bottom: 18px;
}
.nav_link {
  padding-left: 32px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a4a6b3;
}
.nav_link:hover {
  color: #dde2ff;
}
.nav_link_text {
  margin-left: 24px;
}
.active {
  background: #9fa2b427;
  border-left: 3px solid #dde2ff;
}
.active .nav_link {
  color: #dde2ff;
}
